.section {
    background-color: #007bff;
    text-align: center;
    width: 100%;
    height: 600px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
    position: relative;
    top: 175px;
    right: 275px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stat {
    border-left: 2px solid white;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    top: 215px;
    right: 300px;
}

.counter {
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
}

.stat p {
    color: #ddd;
    margin: 0;
}
.image{
    position: absolute;
    top: 175px;
    left: 575px;
    width: 1000px;
    height: 1000px;
}

.img{
    width: 400px;
}
